.venv/
.tools/
*.egg-info/
__pycache__/
.pytest_cache/
demo/
datasets/**/*.tar.gz
datasets/**/*.zip
datasets/**/*.avi
datasets/**/*.mp4
datasets/**/*.obj
datasets/icl_nuim/trajectory2/
datasets/icl_nuim/photos/
datasets/icl_nuim/trajectory1/
datasets/icl_nuim/trajectory1_dense/
datasets/arkitscenes/
datasets/controlled*/
datasets/**/*.ply
datasets/**/*.part
.tmp_*
*.log
